PORT=5000
MONGO_URI=mongodb+srv://root:mypassword@guideup.werce4l.mongodb.net/?appName=guideup
RAZORPAY_KEY_ID=rzp_test_XXXXXXXXXXXXXXXX
RAZORPAY_SECRET=XXXXXXXXXXXXXXXXXXXXXXXX
EMAIL_USER=connect.azsolutions@gmail.com
EMAIL_PASS=your_app_password
JWT_SECRET=123456
ADMIN_EMAIL=admin@yourdomain.com
ADMIN_PASSWORD=admin_password_change_this
NODE_ENV=development
